body{
    font-family: 'Quicksand', sans-serif;
}

button{
	height: 30px;
	background-color: #a2c73c;
	font-size:15px;
}

h1 {
    color:#fff; width: 500px; text-align: center; margin-top: 30px;
}

.navbar_menu {
    color:#fff;
}

.navbar_button_signup {
    border-radius: 25px; 
    color:#fff; 
    margin-top: 10px; 
    margin-left:15px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
    background-color: rgba(0, 0, 0, 0.0);
}

.div_banner {
    background-image: url('../Assets/banner-img.png'); 
    height:700px; 
    background-size: cover; 
    background-position: 0 0; 
    background-repeat: no-repeat;
}

.div_banner_button {
    border-radius: 25px; 
    color:#fff; 
    width:500px; 
    margin-top: 50px; 
    height: 50px; 
    font-size:25px;
}

.gridview {
    width: 750px; 
    height: auto; 
    margin: 0 auto; 
    position: relative; 
    padding-top: 150px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container {
    width: 500px;
    height: auto;
    margin: 0 auto;
    position: relative;
    padding-top: 150px;
}

.column {
    float: left;
    width: 33%;
    padding: 10px;
    height: 200px;
}

.footer_column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 200px;
}

.footer_social_icon {
    float: left;
    width: 33%;
    height: 200px; 
}

.column1 {
    float: left;
    width: 33%;
    padding: 10px;
    height: 200px;
    position: relative;
    background: #a6ce3a;
    background-color:#a6ce3a; 
    width:250px; 
    height:250px;
}

.column1:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(166, 206, 58, 0);
    border-left-color: #a6ce3a;
    border-width: 20px;
    margin-top: -20px;
}

#p1 {
    font-size:15px; 
    text-align: center; 
    margin: 0 0 5px; 
    font-weight: bolder;
}

#p2 {
    font-size:13px; 
    text-align:center; 
    width: 195px; 
    margin: 0 auto;
}

#p3 {
    font-color:white; 
    font-size:14px; 
    text-align:center; 
    color: white; 
    width: 195px; 
    margin: 15px auto;
}

#p4 {
    text-align:center; 
    color: darkolivegreen; 
    width: 195px; 
    margin: 15px auto; 
    font-weight: bolder;
}

#p5 {
    font-size:14px; 
    text-align:center; 
    width: 195px; 
    margin: 15px auto; 
    color: black; 
    position: absolute;
    bottom: 10px; 
    margin-left: 20px;
}

.column5 {
    float: left;
    width: 33%;
    padding: 10px;
    background-image:url('../Assets/Amanora_JOD_projects_Neo.jpg'); 
    width:250px; 
    height:250px; 
    background-size: cover; 
    background-position: 0 0; 
    background-repeat: no-repeat;
}

.column2 {
    position: relative;
    background: #1d5daa;
    float: left;
    width: 33%;
    padding: 10px;
    background-color:#1d5daa; 
    width:250px; 
    height:250px;
}

#p6 {
    font-size:15px; 
    text-align: center; 
    margin: 0 0 5px; 
    font-weight: bolder;
}

.column2:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(29, 93, 170, 0);
    border-top-color: #1d5daa;
    border-width: 20px;
    margin-left: -20px;
}

.column3 {
    position: relative;
    background: #4494d1;
    float: left;
    width: 33%;
    padding: 10px;
    height: 200px;
}
.column3:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(68, 148, 209, 0);
    border-bottom-color: #4494d1;
    border-width: 20px;
    margin-left: -20px;
}

.column4 {
    position: relative;
    background: #23b049;
    float: left;
    width: 33%;
    padding: 10px;
    height: 200px;
}

.column4:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(35, 176, 73, 0);
    border-right-color: #23b049;
    border-width: 20px;
    margin-top: -20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.copyright_top_border {
    border-top: 2px solid #0b1014;
}

.footer_menu_text {
    float: left;
    width: 33%;
    padding: 10px;
    height: 200px;
    width:150px; 
    height:50px; 
    color:#3e6485
}

.footer_gridview {
    width: 450px;
    height: auto;
    margin-left: 25px; 
    position: relative; 
    padding-top: 100px;
}

